@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@1,700&family=Francois+One&family=Open+Sans:wght@600&family=PT+Serif&family=Roboto:wght@100&family=Varela+Round&display=swap');

@media only screen and (max-width: 768px) {
    main {
        width: 300px;
    }
} 

* {
    margin: 100;
    padding: 0;
    box-sizing: border-box;
    
}

nav *{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#nav-links {
    height: 100%;
    margin: 25px auto;
    border:rgb(58, 70, 100) solid 2px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 20%;
    font-family: "Open Sans";
    font-size: 2em;
}


#logo {
    width:15%;
    height:100%;
    font-family: "Francois One";
    font-size: 80px;
    color: rgb(58, 70, 100);
    align-items: center;
    text-align: center;
}

.heading {
    font-family: "Varela Round";
    color: rgb(36, 188, 226);
}